.task-management{
  margin-top: 15px;
  margin-left: 30px;
}

.all_delete{
  width:90%;
  height: 30px;
  text-align: end;
  z-index: 2;
}

.all_delete_botton{
  text-align: center;
  width:50px;
  height:30px;
  line-height: 25px;
  color:dimgray;
  background-color: rgba(73,80,87,0.6);
  border:none;
  border-radius: 7px;
}

.msg{
  margin-top:20px;
}

.task-message{
  color:lightcoral;
}

.no-task-message{
  color:skyblue;
}

.task-list{
  padding-left: 10px;
}

.task{
  display:flex;
  justify-content:space-between;
  width: 70%;
  height:30px;
  margin-top: 10px;
  padding-top:2px;
  padding-bottom:2px;
  color:lightcyan;
}
.task:hover{
  border-top: 2px solid rgba(146, 146, 146,0.7 );
  border-bottom: 2px solid rgba(146, 146, 146,0.7);
  padding-top: 0;
  padding-bottom: 0;
}

.text{
  margin-bottom:5px;
}


.text > span{
  line-height:30px;
  margin-left:7px;
}

.text > span.checked{
  text-decoration:line-through;
}

.task-delete{
  display:block;
  line-height:30px;
}

.newtask_form {
  width:400px;
  margin:15px;
  display: flex;
}

.newtask_text{
  width:300px;
  height:34px;
  font-size:15px;
  color:lightcyan;
  background-color: rgba(33,37,41, 0.2);
  border:1px solid #495057;
}


.newtask_button{
  width:70px;
  height:35px;
  padding-top:3.3px;
  background-color: skyblue;
  border:none;
}

.newtask_button.cancel{
  width:70px;
  height:35px;
  padding-top:3.5px;
  background-color:#e63946;
  border:none;
}

.hidden{
  position:absolute;
  bottom:0;
  right:0;
  width:85%;
  height:80%;
  z-index:1;
}

.taskadd{
  margin-top:30px;
  margin-left: 25%;
  margin-bottom:20px;
  border-radius: 50%;
  width:60px;
  height: 60px;
  background-color: #212529;
  cursor:pointer;
}

.taskadd > span{
  display: block;
  text-align: center;
  line-height: 45px;
  font-size: 55px;
  color:#ffb600;
}

.submit-button-wrapper{
  margin-left: 10px;
}

.submit-button-wrapper > div{
  color:dimgray;
  font-size:0.9rem;
}

.submit-button{
  margin-top:20px;
  margin-left: 17%;
  width:150px;
  height: 40px;
  font-size: 15px;
  background-color: #ff9e00;
  border-radius: 5px;
  border:none;
  box-shadow: 2px 2px 3px 0 rgba(146, 146, 146, 0.5);
  cursor:pointer;
}

@media (max-width:576px){
  .submit-button-wrapper{
    margin: 0 auto;
    width: 100%;
  }

  .submit-button-wrapper > div{
    text-align: start;
  }

  .submit-button{
    text-align: center;
  }

  .newtask_form{
    flex-direction: column;
  }
  .newtask_button,.newtask_button.cancel{
    margin-left:230px;
  }
  
}

@media (max-width:300px){
  .newtask_form {
    width:200px;
    margin:5px;
  }
  
  .newtask_text{
    width:200px;
    height:34px;
    font-size:15px;
    color:lightcyan;
    background-color: rgba(33,37,41, 0.2);
    border:1px solid #495057;
  }
  
  .newtask_form{
    flex-direction: column;
  }
  .newtask_button,.newtask_button.cancel{
    width:50px;
    margin-left:150px;
  }
  
}